*{
  padding: 0px;
  margin: 0px;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 4px;
  box-shadow: 2px 2px 14px rgb(176, 176, 176);
}
.logo{
  color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-ques{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.main-ques p{
  font-size: 22px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: blue;
}
.options{
  display: inline-flex;
  flex-direction: column;
  row-gap: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ques-op{
  font-size: 17px;
  padding: 8px;
  box-shadow: 2px 2px 6px rgb(189, 189, 189);
  width: 250px;
  text-align: center;
  border-radius: 4px;
}
.ques-op:hover{
  box-shadow: 2px 2px 8px rgb(119, 139, 252);
}
.active{
  border: 2px solid rgb(72, 159, 251);
}
.button{
  width: 65px;
  height: 20px;
  border-radius: 7px;
  box-shadow:2px 2px 6px rgb(189, 189, 189);
  padding: 7px 8px;
  margin: 30px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.button:hover{
  border: 2px solid rgb(72, 159, 251);
}
.result-area{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: center;
  justify-content: center;
  border: 1px solid  rgb(72, 159, 251);
  box-shadow:2px 2px 4px rgb(189, 189, 189);
  padding: 15px;
  margin: 10px;
  border-radius:7px;
}